In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("customer.csv")

In [3]:
df = df.iloc[:,2:]
df.sample(5)

     review education purchased
34  Average    School        No
16     Poor        UG       Yes
11     Good        UG       Yes
6      Good    School        No
25     Good    School        No

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,:2], df.iloc[:,2], test_size=0.2)

In [14]:
x_train.head()

     review education
6      Good    School
34  Average    School
23     Good    School
47     Good        PG
11     Good        UG

In [16]:
y_train.head()

6      No
34     No
23     No
47    Yes
11    Yes
Name: purchased, dtype: object

In [26]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories = [['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])
oe.fit(x_train)
x_train_encoded = oe.transform(x_train)
x_test_encoded = oe.transform(x_test)

In [32]:
x_train_encoded

array([[2., 0.],
       [1., 0.],
       [2., 0.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [1., 0.],
       [1., 1.],
       [0., 0.],
       [0., 2.],
       [2., 0.],
       [2., 1.],
       [0., 0.],
       [2., 2.],
       [0., 2.],
       [1., 1.],
       [0., 2.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [2., 2.],
       [1., 1.],
       [0., 0.],
       [2., 1.],
       [1., 2.],
       [0., 2.],
       [1., 2.],
       [1., 1.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [2., 1.],
       [2., 2.],
       [0., 1.],
       [1., 0.],
       [2., 0.],
       [2., 2.],
       [2., 0.],
       [1., 2.],
       [0., 2.]])

In [36]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(y_train)
y_train_encoded = le.transform(y_train)
y_test_encoded = le.transform(y_test)
y_train_encoded

array([0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1])